[submodule "42_libft"]
	path = 42_libft
	url = https://github.com/Two-Jay/42_libft.git
[submodule "lib/l"]
	path = lib/l
	url = https://github.com/Two-Jay/42_libft.git
[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/Two-Jay/42_libft.git
[submodule "lib/libvec"]
	path = lib/libvec
	url = https://github.com/Two-Jay/libvec.git
